/* CSS Document */

#user {border-left:1px solid #b2d1a3;}

#sidebar{width:219px;padding:20px 0 20px 15px;border-left:1px solid #b2d1a3;background:#e2f2da;vertical-align:top;-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-right-radius:10px;}